/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.ui.all
 *= require jquery.ui.aristo
 *= require jquery.atwho
 *= require chosen
 *= require_self
 *= require main
*/
header{
 background-color: rgba(0, 96, 160, 0.8) !important;
 border-bottom:none !important;

}
header .project_name{
color:#3e3e3e !important;

}
header .app_logo a h1{
 background: url("revol_tech_nepal_logo.png") no-repeat scroll 0 -11px transparent !important;
 width:104px !important;
 }
